<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Filex.MSharp.Runtime.Bootstrap" publicKeyToken="A05D8F63989CF1D1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.1374.19622" newVersion="1.1.1374.19622"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
